*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.entrada{
    background-color: aqua;
    width: 250px;
    margin: auto;
    box-shadow: 10px 10px black;
    padding: 30px;

}


.entrada input{
    width: 100%;
    margin-bottom: 16px;
    border: none;
    padding: 10px;
    

}
